body {
    background: url(https://cdn.theatlantic.com/media/img/photo/2020/05/kentucky-photos/a01_1164037780-1/original.jpg);
}

div {
    background: pink;
}

p {
    border: 3px dotted blue;
    background: yellow;
}